{% extends "webapp/base.html" %}

{% load i18n %}

{%block extra_js%}
<script type="text/javascript">
   
$(document).ready(function(){
   /*
    * Here the triggers with animations and validations of the 
    * register form
   */
    $("input[name='registerEmail']")
        .focus(function(){
         if ($(this).val()=="email") 
            $(this).val('');
         $('#imgEmailLogin').attr('src','/static/webapp/img/mailActive.png');
      })
        .blur(checkEmail);
    
   
    $("#userRegisterPass1,#userRegisterPass2")
      .blur(checkPasswords)
      .keyup(checkPasswords)
      .focus(function(){$('#imgPasswordLogin').attr('src','/static/webapp/img/passIconActive.png')})
      .blur(function(){$('#imgPasswordLogin').attr('src','/static/webapp/img/passIconInactive.png')});

      
   //With this you can check the terms making click on the text
   $('#textTermsCheckbox').click(function(){
      if(!$("#termsCheckbox").is(':checked'))
         $("#termsCheckbox").attr('checked',true);
      else
         $("#termsCheckbox").attr('checked',false);
   });
   
   
   {% if login%}setTimeout(function(){$('#signinBtn').click();},500);{%endif%}
});
</script>
{%endblock%}

{%block tooltipLogo%}{%endblock%}
{%block section%}id="private-beta"{%endblock%}
{% block content %}

   <div id="description">
      <h2>{% trans "GeoRemindMe allows you to link alerts to places." %}</h2><p>{% trans "Geolocate your reminders with GeoRemindMe!" %}</p>

      <span id="iframeVideo"></span>
      <div id="know_more">
         <form id="subscription-form" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('{% trans "http://feedburner.google.com/fb/a/mailverify?uri=GeoRemindMe" %}', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">{% trans "Keep me updated!" %} 
			<p>{% trans "Enter your email address to be notified when a new version is released" %}</p>
			<input type="text" id="subscribe-rss" placeholder="email" name="email"/><input type="hidden" value="GeoRemindMe" name="uri"/>
			<input type="hidden" name="loc" value="{% trans "en_US" %}"/><input type="submit" value="{% trans "Sign me up!" %}" />
			<p class="text-align-center">{% trans "No spam. We promise." %}</p>
			</form> 
			
      </div>
   </div>

  	<div id="form-invitation-request" class="caja-arriba">
      <p class="new_msg"><a href="{%url knowmore%}" title="{% trans "Screenshots, licenses, versions, etc."%}" accesskey="m">{% trans "More about"%}</a>{% trans " the project:"%}</p>
      <p><a href='/knowmore/#available-versions' class="right-arrow">{% trans "Available Versions" %}</a></p>
      <p><a href='/knowmore/#community' class="right-arrow">{% trans "The GeoRemindMe Community" %}</a></p>
   </div>

	<div id="form-invitation-request" class="caja-abajo">
      <p class="new_msg">{% trans "Now <strong>testing</strong>"%}</p>
      <p>{% trans "Would you like to help us with beta testing? <strong>Request an invitation</strong> and we will send you the details:" %}</p>
      <p id="invitation-request"><a href="https://spreadsheets.google.com/viewform?formkey=dEFPeHBiSktzeFluM3dRQnNvVnFCUXc6MQ" accesskey="i">{% trans "Request invitation"%}</a></p>
   </div>

{%endblock%}

