{% extends '../templates/layout.html' %}


{% block content %}

	<article style="text-align:left;"> 
		<div style="float:left;width:100%;"> 
			<div class="center message-box"><img src="http://static.georemindme.com/images/tools-128.png">
			<p>There is some <a href="https://teambox.com/public/georemindme-2/conversations/132183-define-api">work in progress here</a>, actually <strong>we are looking for help</strong> to design and develop this API, so <strong>if you are interested on learning how to do that you are welcome to <a href="https://teambox.com/projects/georemindme-2">join us</a></strong>.</p>
			</div>
		</div>
	</article>  

{% endblock %}
