{% extends '../templates/layout.html' %}


{% block content %}

	<article id="community-content"> 
		<h3>GeoRemindMe Survey</h3>
		<p>Estimado alumno,</p>
		<p><img src="http://static.georemindme.com/images/logo_ugr.jpg" alt="Logo ugr" style="float:right;border:0;margin:0 10px;" />GeoRemindMe es una herramienta que te permitirá descubrir a través de tu <strong>teléfono móvil* y de una aplicación para Facebook</strong> lugares fascinantes durante tu estancia en Granada. En colaboración con la <a href="http://www.ugr.es">Universidad de Granada (UGR)</a> y el <a href="http://internacional.ugr.es/pages/perfiles/estudiantes/programa-mentores-de-la-ugr">Programa Mentores</a> estamos creando esta herramienta que pondremos a tu disposición antes de tu llegada.</p>
		<p>Entre otras funcionalidades, desde GeoRemindMe queremos que puedas:</p>
		<ul>
			<li>Recibir recomendaciones de tus mentores, de la universidad y de tus amigos.</li>
			<li>Recomendarle a tus amigos sitios y cosas que hacer en granada.</li>
			<li>Valorar las recomendaciones que recibas.</li>
			<li>Descargar o imprimir rutas de diferentes zonas de la universidad.</li>
			<li>Etc.</li>
		</ul>
		<p>Para que todo esto sea posible nos gustaría contar con tu ayuda y por ello <strong>nos ayudaría mucho que nos respondieses esta pequeña encuesta</strong>.<br> <em>*Actualmente se está desarrollando una versión para teléfonos con Android, en base a los resultados de esta encuesta se estudiarán los teléfonos soportados</em>.</p>
		<iframe src="https://spreadsheets.google.com/spreadsheet/embeddedform?formkey=dENnQ2R6Q1RhcmlwWWkxTEY0bVQyS0E6MQ" width="760" height="1700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		<h2>Únete a la comunidad</h2>
		<p>Este proyecto es libre y está abierto a cualquier colaboración, por lo que si te ha gustado la idea y quieres colaborar con el proyecto, solo tienes que <a href="http://team.georemindme.com/">entrar aquí</a> y presentarte al resto de miembros.</p>
		<h3>¡Muchas gracias por tu ayuda!</h3>
	</article>  

{% endblock %}
