{% extends '../templates/layout.html' %}


{% block content %}

	<article style="text-align:left;" id="community-content"> 
		<section class="community-box"> 
			<h3 id="presentation" class="menu-icons">Presentation</h3> 
			<p><strong>Many people helping us to create a better experience</strong>, and all working together and having fun learning about new technologies, free software, and <a href="http://www.flickr.com/groups/1620000@N25/pool/with/5614194428/">attending to funny hackathons</a>.</p>
			<p>There are <a href="">plenty of reasons</a> why it is interesting to participate in a <a href="http://dev.georemindme.com/licensing">free software project</a>, but you're the one who has to decide if you think it is worth it or not.</p>
			<p>We always try to follow a <strong>mentoring process</strong> because we do not want you to feel alone. If you decide to join us, we will help you to find an older member that will guide you during your first steps, and he/she will answer your questions.</p>
		</section>	
		
		<section class="community-box"> 
			<h3 id="localization" class="menu-icons">Localizing</h3> 
            <p>We want to make everyone feels confortable and accesible, thats why we are doing a big effort trying to have everything on different languages.</p>
            <p>If you want to help us achieving this, please <a href="https://teambox.com/public/georemindme-2/translating">join us here</a></p>
            <p>We are using a really easy web system to do the translations, so you won't need learn much technical stuff. If you want to try, just <a href="http://www.transifex.net/projects/p/georemindme/resource/webapp/l/es_ES/view/">click on here and see</a> for yourself.</p>
            <p>There is a lot of things to do about localization like: translate the interfaces of the Facebook app, also the Android app, blog articles, etc.</p>
            <p>Meet <a href="https://teambox.com/public/georemindme-2/translating">here some translators</a> that has been working with us.</p>
        </section>	
		
		<section class="community-box"> 
            <h3 id="developers" class="menu-icons">Developing</h3> 
			<p>There are many ideas and suggestions that many of us want to do, and the good news is that this project is open to anyone who wants to help.</p>
			<p>So if you are a developer and you want to join us, you just have choose where you want to join:</p>
            <p>
				<ul>
					<li><a href="https://teambox.com/public/georemindme-2/android-developers">Android developers team</a></li>
					<li><a href="http://dev.georemindme.com/webapp/build/html/">Web developers team</a></li>
				</ul>
				<p>There is an <a href="https://teambox.com/public/georemindme-2/conversations/132183-define-api"><strong>open discussion</strong></a> to develop a <a href="http://api.georemindme.com">public API</a> to help you to build your own apps and functionalities</p>
            </p> 	
            <p>Meet here <a href="https://teambox.com/public/georemindme-2/web-developers">some web</a> and <a href="https://teambox.com/public/georemindme-2/android-developers">Android developers</a> that has been working with us.</p>
        </section>
            
        <section class="community-box"> 
            <h3 id="design" class="menu-icons">Designing</h3>
            <p>We are always working to have a better looking, because all of us knows, the graphic design and the interaction design are key to ensure an unforgettable experience.</p>
            <p>Because of that we are always testing new things, measuring common behaviors and asking to our users to know what can be improved to improve it.</p>
            <p>If you are interested on learn how do we do that or contribute, please be welcome to <a href="https://teambox.com/public/georemindme-2/">join us</a> at the community</p>
            <p>Meet <a href="https://teambox.com/public/georemindme-2/designing">here some designers and front-end developers</a> that has been working with us.</p>
        </section>
		
	</article>  

{% endblock %}
